.film-ajax-container{
    background: #000;
    transform: scale3d(0, 0, 0);
    position: fixed;
    width: 80%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 38;
    //easeInExpo
    transition: all 0.4s cubic-bezier(1, 0, 0, 1);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

body.is-android{
    .film-ajax-container{
        opacity: 0;
        z-index: 1;
    }
}

html.is-overlay{
    body.is-android{
        .film-ajax-container{
            opacity: 1;
            z-index: 38;
        }
    }
}

.film-ajax-container h2{
    color: #FFF;
    text-align: center;
    font-weight: 600;
    font-size: 1.25em;
    margin: 0 0 1.5em 0;
    @include breakpoint(small-tablet){
        font-size: 1.5em;
        margin: 2.5em 0 2.5em 0;
    }
}

.film-ajax-container p{
    color: #FFF;
    font-size: 0.8em;
    font-family: $secondFont;
    font-weight: 300;
    padding-top: 1em;
    @include breakpoint(small-tablet){
        font-size: (16em / 16);
        padding-top: 2em;
    }
}

.film-overlay-wrapper{
    position: relative;
    height: 100%;
    padding: 1em;
    transition: all 0.6s cubic-bezier(1, 0, 0, 1);
    display: table;
}

.film-overlay-content{
    opacity: 0;
    box-sizing: border-box;
    padding: 6em 15% 0 15%;
    @include breakpoint(small-tablet){
        position: relative;
        display: table-cell;
        vertical-align: middle;
        padding: 0 20% 0 20%;
    }
}

#overlay-close,
#overlay-close-mobile{
    font-size: 0.9em;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFF;
}

#overlay-close{
    margin: 0 auto;
    position: absolute;
    top: -3em;
    margin-left: (86px / 2) * -1;
    left: 50%;
    transition: all 0.2s ease-out;
    z-index: 40;
    display: none;
    @include breakpoint(small-tablet){
        display: block;
        font-size: 1em;
    }
}

#overlay-close-mobile{
    display: block;
    padding: 0 0 3em 0;
    text-align: center;
    @include breakpoint(small-tablet){
        display: none;
    }
}

.next-prev{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1em 1em 1.25em 1em;
    box-sizing: border-box;
    a{
        color: #FFF;
        font-size: (12em / 16);
        @include breakpoint(ipad-vert){
            font-size: 1em;
        }
    }
    #prev{
        display: block;
        float: left;
    }
    #next{
        display: block;
        float: right;
    }
}

span.arrow{
    display: inline-block;
    //easeOutCubic
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.no-touch{
    .next-prev a{
        &:hover{
            span.arrow{
                padding: 0 0.25em 0 0.25em;
                //eastInCubic
                transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
        }
    }
}

.is-overlay{
    #overlay-close{
        transition: all 0.4s ease-in;
        @include breakpoint(small-tablet){
            top: 12px;
        }
    }
}

.film-ajax-container{
    &.-overlay-active{
        //easeOutExpo
        transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }
}

.-overlay-default{
    .film-ajax-container{
        transform: scale3d(1, 1, 1);
    }
    .film-overlay-content{
        opacity: 1;
    }
    #overlay-close{
        transition: all 0.6s ease-in;
        @include breakpoint(small-tablet){
            top: 12px;
        }
    }
}

body.is-android{
    .-overlay-default{
        .film-ajax-container{
            opacity: 1;
            z-index: 38;
        }
    }
}

.video-container{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.video-container iframe,
.video-container object,
.video-container embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
