.film-ajax-container{
    background: #000;
    transform: scale(0);
    position: fixed;
    width: 80%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 38;
    //easeInExpo
    transition: all 0.4s cubic-bezier(1, 0, 0, 1);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.film-ajax-container h2{
    color: #FFF;
    text-align: center;
    font-weight: 600;
    font-size: 1.25em;
    margin: 0 0 1.5em 0;
    @include breakpoint(small-tablet){
        font-size: 1.5em;
        margin: 2.5em 0 2.5em 0;
    }
}

.film-ajax-container p{
    color: #FFF;
    font-size: 0.8em;
    font-family: $secondFont;
    @include breakpoint(small-tablet){
        font-size: (14em / 16);
        padding-top: 2em;
    }
}

.film-overlay-wrapper{
    position: relative;
    height: 100%;
    padding: 1em;
    transition: all 0.6s cubic-bezier(1, 0, 0, 1);
    display: table;
}

.film-overlay-content{
    opacity: 0;
    box-sizing: border-box;
    padding: 6em 15% 0 15%;
    @include breakpoint(small-tablet){
        position: relative;
        display: table-cell;
        vertical-align: middle;
        padding: 0 20% 0 20%;
    }
}

#overlay-close{
    margin: 0 auto;
    color: #FFF;
    font-size: 0.9em;
    position: absolute;
    top: -3em;
    margin-left: (86px / 2) * -1;
    left: 50%;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-out;
    z-index: 40;
    @include breakpoint(small-tablet){
        font-size: 1em;
    }
}

.is-overlay{
    #overlay-close{
        top: 60px;
        transition: all 0.4s ease-in;
        @include breakpoint(small-tablet){
            top: 12px;
        }
    }
}

.film-ajax-container{
    &.-overlay-active{
        //easeOutExpo
        transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    }
}

.-overlay-default{
    .film-ajax-container{
        transform: scale3d(1, 1, 1);
    }
    .film-overlay-content{
        opacity: 1;
    }
    #overlay-close{
        top: 60px;
        transition: all 0.6s ease-in;
        @include breakpoint(small-tablet){
            top: 12px;
        }
    }
}

.video-container{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.video-container iframe,
.video-container object,
.video-container embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
