body{
    color: #000;
    background: #000;
    font-family: $mainFont;
}

#wrapper{
    max-width: 100%;
}

#content-wrapper{
    max-width: 80%;
    float: right;
}

a{
    color: #000;
    text-decoration: none;
}
