body{
    color: #000;
    background: #FFF;
    font-family: $mainFont;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul li{
    list-style: none;
}

a{
    color: #000;
    text-decoration: none;
}

strong{
    font-weight: 600;
}

img{
    width: 100%;
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#page{
    max-width: 100%;
}

#content-wrapper{
    max-width: 80%;
    width: 80%;
    float: right;
    position: relative;
    z-index: 10;
    border: 0 5px 0 5px;
}

#top-info-bar{
    width: 80%;
    position: fixed;
    top: -5em;
    right: 0;
    background: #000;
    padding: 0.65em;
    box-sizing: border-box;
    transition: all 0.4s ease-out;
    line-height: 19px;
    z-index: 80;
    &.in-view{
        top: 0;
        transition: all 0.4s ease-in;
    }
}

#top-info-bar .time{
    float: left;
    font-size: (12em / 16);
    margin: 0;
    padding: 0;
    color: #FFF;
    @include breakpoint(small-tablet){
        font-size: 0.8em;
    }
}

#top-info-bar .social{
    ul{
        margin: 0;
        padding: 0;
        float: right;
        position: relative;
        li{
            display: inline-block;
            a{
                font-size: (12em / 16);
                color: #FFF;
                text-transform: uppercase;
                @include breakpoint(small-tablet){
                    font-size: 0.8em;
                }
                &:hover{
                    border-bottom: 1px solid #FFF;
                }
            }
        }
    }
}

#tester-container{
    width: 100%;
    box-sizing: border-box;
    .tester{
        padding: 10px;
        background: #CCC;
        height: 1200px;
        width: 100%;
        box-sizing: border-box;
    }
}

.opacity-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    background: #000;
    transition: all 0.2s ease-out;
    display: none;
    @include breakpoint(ipad-vert){
        display: block;
        z-index: 1;
    }
    &.active{
        transition: all 0.4s ease-in;
        opacity: 0.8;
        z-index: 100;
    }
}
