#filter-wrapper{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    margin-top: 33px;
    background: #000;
    @include breakpoint(ipad-vert){
        margin-top: 40px;
    }
}

#filter-container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 8px 8px 8px 8px;
    @include breakpoint(ipad-vert){
        padding: 10px 10px 10px 10px;
        margin-top: -10px;
    }
}

.filter-content{
    background: #FFF;
    width: 100%;
    padding: 1.5em 0 1.5em 0;
    @include breakpoint(ipad-vert){
        padding: 2.2em 0 2em 0;
    }
    @include breakpoint(ipad-horiz){
        padding: 3em 0 3em 0;
    }
}

.filter-mobile-button{
    display: block;
    text-align: center;
    a{
        font-size: (14em / 16);
        text-transform: uppercase;
    }
    @include breakpoint(ipad-vert){
        display: none;
    }
}

.filter-content{
    .filter-nav{
        text-align: center;
        line-height: 1em;
        display: none;
        @include breakpoint(ipad-vert){
            display: block;
        }
        ul{
            margin: 0;
            padding: 0;
            display: block;
            padding-top: 1.5em;
            @include breakpoint(ipad-vert){
                padding-top: 0;
            }
            li{
                display: inline-block;
                padding: 0 1em 0 1em;
                line-height: 2em;
                @include breakpoint(ipad-vert){
                    line-height: 0;
                }
                a{
                    font-size: (14em / 16);
                    font-weight: 400;
                    text-transform: uppercase;
                    &:hover{
                        border-bottom: 1px solid #000;
                    }
                }
            }
        }
    }
}

.filter-content .filter-nav{
    &.open{
        display: block;
    }
}

.vid-list{
    width: 100%;
    padding: 0 5px 0 5px;
    background: #000;
    box-sizing: border-box;
}

.vid-iso-container{
    width: 100%;
    overflow: hidden;
}

.vid-content{
    margin: 0 2.5px 8px 2.5px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(-45deg, #000 0%, #FFF 100%);
    @include breakpoint(ipad-vert){
        margin: 0 5px 10px 5px;
    }
}

.vid-content{
    .play-icon{
        position: absolute;
        color: #000;
        left: 50%;
        bottom: -3em;
        margin-bottom: -20px;
        margin-left: -36px;
        font-size: 40px;
        z-index: 30;
        @include breakpoint(ipad-horiz){
            margin-bottom: -25px;
            margin-left: -25px;
            font-size: 50px;
            //easeInExpo
            transition: all 0.4s cubic-bezier(0.95, 0.05, 0.795, 0.035) 0.3s;
            opacity: 0;
        }
    }
}

html.touch{
    .vid-content{
        .play-icon{
            bottom: 50%;
            opacity: 1;
        }
    }
}

.vid-content{
    img{
        transform: scale(1);
        filter: grayscale(1);
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\' filterRes=\'800\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        transition: all 0.2s ease-out;
    }
    @include breakpoint(ipad-vert){
        margin: 0 5px 10px 5px;
    }
}

.vid-content{
    .film-info{
        background: #FFF;
        position: absolute;
        z-index: 35;
        width: 100%;
        bottom: -4em;
        //easeInQuart
        transition: all 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
        h2{
            margin: 0;
            font-weight: 400;
            font-size: 0.8em;
            padding: 0.5em 1em 0.5em 1em;
            transition: all 0.2s ease-out;
            @include breakpoint(ipad-horiz){
                font-size: 1em;
            }
        }
    }
}

html.touch{
    .vid-content{
        .film-info{
            bottom: 0;
        }
    }
}

.vid-content{
    a{
        display: block;
        cursor: pointer;
    }
}

html.no-touch{
    a{
        &:hover{
            img{
                transform: scale(1.10);
                //easeOutQuart
                transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
                filter: none;
                opacity: 0.7;
            }
            .play-icon{
                bottom: 50%;
                opacity: 1;
                //easeOutExpo
                transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            }
            .film-info{
                //easeOutQuart
                transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.25s;
                bottom: 0;
            }
        }
    }
}

html.no-touch{
    body.no-hover{
        a{
            &:hover{
                img{
                    transform: scale(1);
                    filter: grayscale(1);
                    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\' filterRes=\'800\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                    opacity: 1;
                }
                .play-icon{
                    bottom: -3em;
                    opacity: 0;
                }
                .film-info{
                    bottom: -4em;
                }
            }
        }
    }
}

.vid-iso-grid{
    float: left;
}

.-quarter{
    width: 100%;
    @include breakpoint(ipad-vert){
        width: 25%;
    }
}

.-half{
    width: 100%;
    @include breakpoint(ipad-vert){
        width: 50%;
    }
}

.-three-quarters{
    width: 100%;
    @include breakpoint(ipad-vert){
        width: 75%;
    }
}

.-full{
    width: 100%;
}

.intro{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    z-index: 100;
    .number-wrapper{
        position: relative;
        height: 100%;
        width: 100%;
        padding: 1em;
        display: table;
        box-sizing: border-box;
    }
    .countdown{
        position: relative;
        display: table-cell;
        vertical-align: middle;
        padding: 3em 20% 3em 20%;
    }
    .countdown .number{
        font-size: 26em;
        color: #000;
        font-family: $secondFont;
        font-weight: 600;
        text-align: center;
    }
}

.intro.black{
    background-color: #000;
    .countdown .number{
        color: #FFF;
    }
}
