nav{
    width: 20%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    background: #FFF;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 1.1875em 0 1.1875em 0;
    //easeInBack
    transition: all $menuTransition cubic-bezier(0.6, -0.28, 0.735, 0.045);
    z-index: 500;
    @include breakpoint(ipad-vert){
        padding: 2.1875em 0 2.1875em 0;
    }
}

#main-menu{
    padding: 0;
    margin: 0;
    list-style: none;
}

#main-menu li{
    padding-left: 0;
    a{
        font-size: (20em / 16);
        font-weight: 400;
        line-height: 1.25em;
        //easeOutCubic
        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        &:hover{
            color: #979797;
            //easeInCubic
            transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
        @include breakpoint(ipad-vert){
            font-size: (30em / 16);
            line-height: 1.2em;
        }
    }
}

nav.open{
    width: 100%;
    //easeOutBack
    transition: all $menuTransition cubic-bezier(0.175, 0.885, 0.32, 1.275);
    @include breakpoint(ipad-vert){
        width: 50%;
    }
}

nav.open #main-menu,
nav.open .info-summary,
nav.open .copyright{
    left: 10%;
    //easeOutBack
    transition: all 0.5s ease;
    @include breakpoint(ipad-vert){
        left: 8%;
    }
}

nav.open #menu-button,
nav.open #title{
    //easeOutBack
    transition: all $menuTransition cubic-bezier(0.175, 0.885, 0.32, 1.275);
    left: 80%;
}

#title{
    display: block;
    font: 700 1.125em/1em $mainFont;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    cursor: pointer;
    //easeInBack
    transition: all $menuTransition cubic-bezier(0.6, -0.28, 0.735, 0.045);
    span{
        font-weight: 400;
        font-size: 0.8em;
    }
    //max-width
    @include breakpoint(ipad-horiz-max){
        transform: rotate(270deg);
        width: 8em;
        margin-left: (8em / 2) * -1;
        top: (7em / 2 );
    }
    //min-width
    @include breakpoint(ipad-horiz){
        width: 7.5em;
        margin-left: (7.5em / 2) * -1;
        text-align: center;
        font-size: 1.5em;
    }
}

#menu-button{
    font-size: 0.9em;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-left: (87em / 16) / 2 * -1;
    transform: rotate(270deg);
    @include breakpoint(ipad-vert-max){
        top: 15.1875em;
    }
    //easeInBack
    transition: all $menuTransition cubic-bezier(0.6, -0.28, 0.735, 0.045);
    @include breakpoint(ipad-vert){
        margin-top: (18em / 16) / 2 * -1;
        top: 50%;
        font-size: 1.125em;
    }
}

.info-summary{
    max-width: 40%;
    width: 40%;
    top: 4.5em;
    p{
        font-weight: 400;
        font-size: (12em / 16);
    }
    @include breakpoint(ipad-vert){
        top: 7.25em;
        p{
            font-size: (14em / 16);
        }
    }
}

.copyright{
    bottom: 2em;
    font-weight: 400;
    font-size: (12em / 16);
    @include breakpoint(ipad-horiz){
        font-size: 0.9em;
    }
}

#main-menu,
.info-summary,
.copyright{
    position: absolute;
    left: -30em;
    //easeInBack
    transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
